@font-face {
    font-family: Digital;
    src: url('font/Orbitron-VariableFont_wght.ttf');
}

body {
    font-family: Digital, sans-serif;
    display: flex;
    justify-content: center;
}

h1 {
    padding: 0 50px 0 50px;
    margin: 0;
}

#calculatorBorder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 580px;
    width: 400px;
    background-color: rgb(194, 194, 194);
    border: 3px solid rgb(0, 0, 0);
}

#calcScreen {
    border: 1px solid black;
    font-size: 35px;
    background-color: white;
    height: 50px;
    width: 350px;
    margin: 0 20px 0 20px;
    border-radius: 3px;
}

#buttonContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 360px;
    height: 420px;
}

button {
    font-family: inherit;
    font-size: 20px;
    width: 75px;
    height: 75px;
}

.equal {
    height: 160px;
    width: 75px;
}

.operator, .equal, .setting {
    background-color: rgb(185, 216, 255);
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
}

.number {
    background-color: rgb(255, 245, 159);
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
}

.cor {
    background-color: rgb(255, 209, 172);
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
}

